<%-include("../partials/header")%>

<h3>Register New User Page</h3>

<form action="/register" method="POST">
	<input type="text" placeholder="Username" name="username">
	<input type="password" placeholder="Password" name="password">
	<button>Submit</button>
</form>

<%-include("../partials/footer")%>